<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebBrowserUpdateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://prabash-lap/VewBrowserServicePublish/WebBrowserUpdateService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebBrowserUpdateService"
                contract="svcUpdateService.IWebBrowserUpdateService" name="BasicHttpBinding_IWebBrowserUpdateService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="FileExtension" value=".vbw"/>
    <add key="FilePath" value="..//..//data//"/>
    <!--<add key="FilePath" value="C://Users//prabash//Documents//visual studio 2012//Projects//UWIC.FinalProject.WebBrowser//UWIC.FinalProject.WebBrowser//data//"/>-->
  </appSettings>
</configuration>