<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebBrowserUpdateService" />
        <binding name="BasicHttpBinding_ISendKeysService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://prabash-lap/VewBrowserServicePublish/WebBrowserUpdateService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebBrowserUpdateService"
        contract="svcUpdateService.IWebBrowserUpdateService" name="BasicHttpBinding_IWebBrowserUpdateService" />
      <endpoint address="http://localhost:1117/service/SendKeys" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISendKeysService" contract="svcSendKeys.ISendKeysService"
        name="BasicHttpBinding_ISendKeysService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="FileExtension" value=".vbw"/>
    <add key="FilePath" value="..//..//data//"/>
    <add key="ServiceConsolePath" value="C://Users//prabash//Documents//visual studio 2012//Projects//UWIC.FinalProject.ServiceConsole//UWIC.FinalProject.ServiceConsole//bin//Debug//UWIC.FinalProject.ServiceConsole.exe"/>
    <add key="SpellGrammarLength" value="20"/>
  </appSettings>
</configuration>